In [1]:
#Launch commands to automatically reload modules
%load_ext autoreload
%autoreload 2

In [2]:
#Load libraries to use
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#Load dataset into a dataframe
covid = pd.read_csv('../data/raw/COVID.csv')

In [4]:
#Display dimensions of the dataframe(df)
covid.shape

(239, 14)

In [5]:
#Display summary information of dataframe
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239 entries, 0 to 238
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            239 non-null    object
 1   Total Cases        239 non-null    object
 2   New Cases          12 non-null     object
 3   Total Deaths       234 non-null    object
 4   New Deaths         7 non-null      float64
 5   Total Recovered    190 non-null    object
 6   New Recovered      17 non-null     object
 7   Active Cases       191 non-null    object
 8   Serious, Critical  60 non-null     object
 9   Tot Cases/1M pop   230 non-null    object
 10  Deaths/1M pop      225 non-null    object
 11  Total Tests        213 non-null    object
 12  Tests/1M pop       213 non-null    object
 13  Population         229 non-null    object
dtypes: float64(1), object(13)
memory usage: 26.3+ KB

In [6]:
covid.head()

,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,"Serious, Critical",Tot Cases/1M pop,Deaths/1M pop,Total Tests,Tests/1M pop,Population
0,USA,"111,367,209",NaN,"1,199,031",NaN,"109,053,249",NaN,"1,114,929","1,771","332,633","3,581","1,186,742,917","3,544,577","334,805,269"
1,India,"45,028,429",161,"533,475",2.0,NaN,NaN,NaN,NaN,"32,012",379,"935,879,495","665,334","1,406,631,776"
2,France,"40,138,560",NaN,"167,642",NaN,"39,970,918",NaN,0,NaN,"612,013","2,556","271,490,188","4,139,547","65,584,518"
3,Germany,"38,819,284",574,"182,439",28.0,"38,240,600",NaN,"396,245",NaN,"462,776","2,175","122,332,384","1,458,359","83,883,596"
4,Brazil,"38,407,327",NaN,"709,765",NaN,"36,249,161",NaN,"1,448,401",NaN,"178,345","3,296","63,776,166","296,146","215,353,593"

In [7]:
# Columns to clean and convert
columns_to_convert = [
    'Total Cases', 'New Cases', 'Total Deaths', 'Total Recovered', 'New Recovered',
    'Active Cases', 'Serious, Critical', 'Tot Cases/1M pop', 'Deaths/1M pop',
    'Total Tests', 'Tests/1M pop', 'Population'
]
# Remove commas and convert to numeric
for column in columns_to_convert:
    covid[column] = covid[column].str.replace(',', '')  # Remove commas
    data[column] = pd.to_numeric(data[column], errors='coerce')  # Convert to numeric

In [8]:
data.head()

,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,"Serious, Critical",Tot Cases/1M pop,Deaths/1M pop,Total Tests,Tests/1M pop,Population
0,USA,111367209,NaN,1199031.0,NaN,109053249.0,NaN,1114929.0,1771.0,332633.0,3581.0,1.186743e+09,3544577.0,3.348053e+08
1,India,45028429,161.0,533475.0,2.0,NaN,NaN,NaN,NaN,32012.0,379.0,9.358795e+08,665334.0,1.406632e+09
2,France,40138560,NaN,167642.0,NaN,39970918.0,NaN,0.0,NaN,612013.0,2556.0,2.714902e+08,4139547.0,6.558452e+07
3,Germany,38819284,574.0,182439.0,28.0,38240600.0,NaN,396245.0,NaN,462776.0,2175.0,1.223324e+08,1458359.0,8.388360e+07
4,Brazil,38407327,NaN,709765.0,NaN,36249161.0,NaN,1448401.0,NaN,178345.0,3296.0,6.377617e+07,296146.0,2.153536e+08

In [10]:
columns_to_convert = [
    'Total Cases', 'New Cases', 'Total Deaths','New Deaths', 'Total Recovered', 'New Recovered',
    'Active Cases', 'Serious, Critical', 'Tot Cases/1M pop', 'Deaths/1M pop',
    'Total Tests', 'Tests/1M pop', 'Population'
]

# Fill NaN values with the mean of the column
for column in columns_to_convert:
    data[column].fillna(data[column].mean(), inplace=True)

# Check for missing values after processing
print("Missing values after processing:")
print(data.isnull().sum())

print("Data types after processing:")
print(data.dtypes)
print(data)

Missing values after processing:
Country              0
Total Cases          0
New Cases            0
Total Deaths         0
New Deaths           0
Total Recovered      0
New Recovered        0
Active Cases         0
Serious, Critical    0
Tot Cases/1M pop     0
Deaths/1M pop        0
Total Tests          0
Tests/1M pop         0
Population           0
dtype: int64
Data types after processing:
Country               object
Total Cases            int64
New Cases            float64
Total Deaths         float64
New Deaths           float64
Total Recovered      float64
New Recovered        float64
Active Cases         float64
Serious, Critical    float64
Tot Cases/1M pop     float64
Deaths/1M pop        float64
Total Tests          float64
Tests/1M pop         float64
Population           float64
dtype: object
     Country  Total Cases  New Cases  Total Deaths  New Deaths
0        USA    111367209      611.5     1199031.0   15.857143  \
1      India     45028429      161.0      533475.0    2.000000
2     France     40138560      611.5      167642.0   15.857143
3    Germany     38819284      574.0      182439.0   28.000000
4     Brazil     38407327      611.5      709765.0   15.857143
..       ...          ...        ...           ...         ...
234   Total:     69791773      611.5     1365551.0   15.857143
235   Total:     14826780     1345.0       32665.0   15.857143
236   Total:     12859770      611.5      258884.0   15.857143
237   Total:          721      611.5          15.0   15.857143
238   Total:    703531128     2446.0     6985004.0   37.000000

     Total Recovered  New Recovered  Active Cases  Serious, Critical
0       1.090532e+08     780.058824  1.114929e+06             1771.0  \
1       9.980155e+06     780.058824  2.648245e+05             1252.8
2       3.997092e+07     780.058824  0.000000e+00             1252.8
3       3.824060e+07     780.058824  3.962450e+05             1252.8
4       3.624916e+07     780.058824  1.448401e+06             1252.8
..               ...            ...           ...                ...
234     6.664828e+07     780.058824  1.777945e+06             8953.0
235     1.457256e+07     780.058824  2.215500e+05               33.0
236     1.208990e+07     780.058824  5.109870e+05              529.0
237     7.060000e+02     780.058824  0.000000e+00                0.0
238     6.743038e+08    5178.000000  2.224229e+07            35695.0

     Tot Cases/1M pop  Deaths/1M pop   Total Tests  Tests/1M pop    Population
0       332633.000000       3581.000  1.186743e+09  3.544577e+06  3.348053e+08
1        32012.000000        379.000  9.358795e+08  6.653340e+05  1.406632e+09
2       612013.000000       2556.000  2.714902e+08  4.139547e+06  6.558452e+07
3       462776.000000       2175.000  1.223324e+08  1.458359e+06  8.388360e+07
4       178345.000000       3296.000  6.377617e+07  2.961460e+05  2.153536e+08
..                ...            ...           ...           ...           ...
234     202301.628261       1274.356  3.298122e+07  2.155533e+06  3.469404e+07
235     202301.628261       1274.356  3.298122e+07  2.155533e+06  3.469404e+07
236     202301.628261       1274.356  3.298122e+07  2.155533e+06  3.469404e+07
237     202301.628261       1274.356  3.298122e+07  2.155533e+06  3.469404e+07
238      90256.500000        896.100  3.298122e+07  2.155533e+06  3.469404e+07

[239 rows x 14 columns]

In [11]:
data.head()

,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,"Serious, Critical",Tot Cases/1M pop,Deaths/1M pop,Total Tests,Tests/1M pop,Population
0,USA,111367209,611.5,1199031.0,15.857143,1.090532e+08,780.058824,1.114929e+06,1771.0,332633.0,3581.0,1.186743e+09,3544577.0,3.348053e+08
1,India,45028429,161.0,533475.0,2.000000,9.980155e+06,780.058824,2.648245e+05,1252.8,32012.0,379.0,9.358795e+08,665334.0,1.406632e+09
2,France,40138560,611.5,167642.0,15.857143,3.997092e+07,780.058824,0.000000e+00,1252.8,612013.0,2556.0,2.714902e+08,4139547.0,6.558452e+07
3,Germany,38819284,574.0,182439.0,28.000000,3.824060e+07,780.058824,3.962450e+05,1252.8,462776.0,2175.0,1.223324e+08,1458359.0,8.388360e+07
4,Brazil,38407327,611.5,709765.0,15.857143,3.624916e+07,780.058824,1.448401e+06,1252.8,178345.0,3296.0,6.377617e+07,296146.0,2.153536e+08