In [1]:
#Launch commands to automatically reload modules
%load_ext autoreload
%autoreload 2

In [2]:
#Load libraries to use
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#Load dataset into a dataframe
covid = pd.read_csv('../data/raw/COVID.csv')

In [4]:
#Display dimensions of the dataframe(df)
covid.shape

(239, 14)

In [5]:
#Display summary information of dataframe
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239 entries, 0 to 238
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            239 non-null    object
 1   Total Cases        239 non-null    object
 2   New Cases          12 non-null     object
 3   Total Deaths       234 non-null    object
 4   New Deaths         7 non-null      float64
 5   Total Recovered    190 non-null    object
 6   New Recovered      17 non-null     object
 7   Active Cases       191 non-null    object
 8   Serious, Critical  60 non-null     object
 9   Tot Cases/1M pop   230 non-null    object
 10  Deaths/1M pop      225 non-null    object
 11  Total Tests        213 non-null    object
 12  Tests/1M pop       213 non-null    object
 13  Population         229 non-null    object
dtypes: float64(1), object(13)
memory usage: 26.3+ KB

In [6]:
covid.head()

,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,"Serious, Critical",Tot Cases/1M pop,Deaths/1M pop,Total Tests,Tests/1M pop,Population
0,USA,"111,367,209",NaN,"1,199,031",NaN,"109,053,249",NaN,"1,114,929","1,771","332,633","3,581","1,186,742,917","3,544,577","334,805,269"
1,India,"45,028,429",161,"533,475",2.0,NaN,NaN,NaN,NaN,"32,012",379,"935,879,495","665,334","1,406,631,776"
2,France,"40,138,560",NaN,"167,642",NaN,"39,970,918",NaN,0,NaN,"612,013","2,556","271,490,188","4,139,547","65,584,518"
3,Germany,"38,819,284",574,"182,439",28.0,"38,240,600",NaN,"396,245",NaN,"462,776","2,175","122,332,384","1,458,359","83,883,596"
4,Brazil,"38,407,327",NaN,"709,765",NaN,"36,249,161",NaN,"1,448,401",NaN,"178,345","3,296","63,776,166","296,146","215,353,593"

In [7]:
# Columns to clean and convert
columns_to_convert = [
    'Total Cases', 'New Cases', 'Total Deaths', 'Total Recovered', 'New Recovered',
    'Active Cases', 'Serious, Critical', 'Tot Cases/1M pop', 'Deaths/1M pop',
    'Total Tests', 'Tests/1M pop', 'Population'
]
# Remove commas and convert to numeric
for column in columns_to_convert:
    covid[column] = covid[column].str.replace(',', '')  # Remove commas
    covid[column] = pd.to_numeric(covid[column], errors='coerce')  # Convert to numeric

In [8]:
covid.head()

,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,"Serious, Critical",Tot Cases/1M pop,Deaths/1M pop,Total Tests,Tests/1M pop,Population
0,USA,111367209,NaN,1199031.0,NaN,109053249.0,NaN,1114929.0,1771.0,332633.0,3581.0,1.186743e+09,3544577.0,3.348053e+08
1,India,45028429,161.0,533475.0,2.0,NaN,NaN,NaN,NaN,32012.0,379.0,9.358795e+08,665334.0,1.406632e+09
2,France,40138560,NaN,167642.0,NaN,39970918.0,NaN,0.0,NaN,612013.0,2556.0,2.714902e+08,4139547.0,6.558452e+07
3,Germany,38819284,574.0,182439.0,28.0,38240600.0,NaN,396245.0,NaN,462776.0,2175.0,1.223324e+08,1458359.0,8.388360e+07
4,Brazil,38407327,NaN,709765.0,NaN,36249161.0,NaN,1448401.0,NaN,178345.0,3296.0,6.377617e+07,296146.0,2.153536e+08

In [9]:
columns_to_convert = [
    'Total Cases', 'New Cases', 'Total Deaths','New Deaths', 'Total Recovered', 'New Recovered',
    'Active Cases', 'Serious, Critical', 'Tot Cases/1M pop', 'Deaths/1M pop',
    'Total Tests', 'Tests/1M pop', 'Population'
]

# Fill NaN values with the mean of the column
for column in columns_to_convert:
    covid[column].fillna(covid[column].mean(), inplace=True)

# Check for missing values after processing
print("Missing values after processing:")
print(covid.isnull().sum())

print("Data types after processing:")
print(covid.dtypes)
print(covid)

Missing values after processing:
Country              0
Total Cases          0
New Cases            0
Total Deaths         0
New Deaths           0
Total Recovered      0
New Recovered        0
Active Cases         0
Serious, Critical    0
Tot Cases/1M pop     0
Deaths/1M pop        0
Total Tests          0
Tests/1M pop         0
Population           0
dtype: int64
Data types after processing:
Country               object
Total Cases            int64
New Cases            float64
Total Deaths         float64
New Deaths           float64
Total Recovered      float64
New Recovered        float64
Active Cases         float64
Serious, Critical    float64
Tot Cases/1M pop     float64
Deaths/1M pop        float64
Total Tests          float64
Tests/1M pop         float64
Population           float64
dtype: object
     Country  Total Cases  New Cases  Total Deaths  New Deaths
0        USA    111367209      611.5     1199031.0   15.857143  \
1      India     45028429      161.0      533475.0    2.000000
2     France     40138560      611.5      167642.0   15.857143
3    Germany     38819284      574.0      182439.0   28.000000
4     Brazil     38407327      611.5      709765.0   15.857143
..       ...          ...        ...           ...         ...
234   Total:     69791773      611.5     1365551.0   15.857143
235   Total:     14826780     1345.0       32665.0   15.857143
236   Total:     12859770      611.5      258884.0   15.857143
237   Total:          721      611.5          15.0   15.857143
238   Total:    703531128     2446.0     6985004.0   37.000000

     Total Recovered  New Recovered  Active Cases  Serious, Critical
0       1.090532e+08     780.058824  1.114929e+06             1771.0  \
1       9.980155e+06     780.058824  2.648245e+05             1252.8
2       3.997092e+07     780.058824  0.000000e+00             1252.8
3       3.824060e+07     780.058824  3.962450e+05             1252.8
4       3.624916e+07     780.058824  1.448401e+06             1252.8
..               ...            ...           ...                ...
234     6.664828e+07     780.058824  1.777945e+06             8953.0
235     1.457256e+07     780.058824  2.215500e+05               33.0
236     1.208990e+07     780.058824  5.109870e+05              529.0
237     7.060000e+02     780.058824  0.000000e+00                0.0
238     6.743038e+08    5178.000000  2.224229e+07            35695.0

     Tot Cases/1M pop  Deaths/1M pop   Total Tests  Tests/1M pop    Population
0       332633.000000       3581.000  1.186743e+09  3.544577e+06  3.348053e+08
1        32012.000000        379.000  9.358795e+08  6.653340e+05  1.406632e+09
2       612013.000000       2556.000  2.714902e+08  4.139547e+06  6.558452e+07
3       462776.000000       2175.000  1.223324e+08  1.458359e+06  8.388360e+07
4       178345.000000       3296.000  6.377617e+07  2.961460e+05  2.153536e+08
..                ...            ...           ...           ...           ...
234     202301.628261       1274.356  3.298122e+07  2.155533e+06  3.469404e+07
235     202301.628261       1274.356  3.298122e+07  2.155533e+06  3.469404e+07
236     202301.628261       1274.356  3.298122e+07  2.155533e+06  3.469404e+07
237     202301.628261       1274.356  3.298122e+07  2.155533e+06  3.469404e+07
238      90256.500000        896.100  3.298122e+07  2.155533e+06  3.469404e+07

[239 rows x 14 columns]

In [10]:
#Load dataset into a dataframe
vax = pd.read_csv('../data/raw/country_vaccinations_by_manufacturer.csv')

In [11]:
#Display dimensions of the dataframe(df)
vax.shape

(35623, 4)

In [12]:
#Display summary information of dataframe
vax.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35623 entries, 0 to 35622
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   location            35623 non-null  object
 1   date                35623 non-null  object
 2   vaccine             35623 non-null  object
 3   total_vaccinations  35623 non-null  int64
dtypes: int64(1), object(3)
memory usage: 1.1+ MB

In [13]:
vax.head()

    location        date             vaccine  total_vaccinations
0  Argentina  29/12/2020             Moderna                   2
1  Argentina         Soc  Oxford/AstraZeneca                   3
2  Argentina  29/12/2020   Sinopharm/Beijing                   1
3  Argentina  29/12/2020           Sputnik V               20481
4  Argentina  30/12/2020             Moderna                   2

In [14]:
# Convert the 'Date' column to datetime
vax['date'] = pd.to_datetime(vax['date'], errors='coerce')
vax.head()

C:\Users\joann\AppData\Local\Temp\ipykernel_8240\226944309.py:2: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  vax['date'] = pd.to_datetime(vax['date'], errors='coerce')

    location       date             vaccine  total_vaccinations
0  Argentina 2020-12-29             Moderna                   2
1  Argentina        NaT  Oxford/AstraZeneca                   3
2  Argentina 2020-12-29   Sinopharm/Beijing                   1
3  Argentina 2020-12-29           Sputnik V               20481
4  Argentina 2020-12-30             Moderna                   2

In [15]:
# Replace NaT with a placeholder value '0000-00-00'
vax['date'] = vax['date'].fillna('0000-00-00')
vax.head()

    location                 date             vaccine  total_vaccinations
0  Argentina  2020-12-29 00:00:00             Moderna                   2
1  Argentina           0000-00-00  Oxford/AstraZeneca                   3
2  Argentina  2020-12-29 00:00:00   Sinopharm/Beijing                   1
3  Argentina  2020-12-29 00:00:00           Sputnik V               20481
4  Argentina  2020-12-30 00:00:00             Moderna                   2

In [16]:
# Rename 'Location' column to 'Country' in vax DataFrame
vax.rename(columns={'location': 'Country'}, inplace=True)
vax.head()

     Country                 date             vaccine  total_vaccinations
0  Argentina  2020-12-29 00:00:00             Moderna                   2
1  Argentina           0000-00-00  Oxford/AstraZeneca                   3
2  Argentina  2020-12-29 00:00:00   Sinopharm/Beijing                   1
3  Argentina  2020-12-29 00:00:00           Sputnik V               20481
4  Argentina  2020-12-30 00:00:00             Moderna                   2

In [17]:
# Merge the DataFrames on 'Country' column only
merged_df = pd.merge(covid, vax, on='Country', how='inner')

In [18]:
merged_df.shape

(28324, 17)

In [19]:
#Load dataset into a dataframe
exp = pd.read_csv('../data/raw/life expectancy.csv')

In [20]:
#Display dimensions of the dataframe(df)
exp.shape

(174, 16)

In [21]:
#Display summary information of dataframe
exp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174 entries, 0 to 173
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Country Name                    174 non-null    object
 1   Country Code                    174 non-null    object
 2   Region                          174 non-null    object
 3   IncomeGroup                     174 non-null    object
 4   Year                            174 non-null    int64
 5   Life Expectancy World Bank      164 non-null    float64
 6   Prevelance of Undernourishment  138 non-null    float64
 7   CO2                             166 non-null    float64
 8   Health Expenditure %            165 non-null    float64
 9   Education Expenditure %         105 non-null    float64
 10  Unemployment                    158 non-null    float64
 11  Corruption                      63 non-null     float64
 12  Sanitation                      105 non-null    float64
 13  Injuries                        174 non-null    float64
 14  Communicable                    174 non-null    float64
 15  NonCommunicable                 174 non-null    float64
dtypes: float64(11), int64(1), object(4)
memory usage: 21.9+ KB

In [22]:
exp.head()

,Country Name,Country Code,Region,IncomeGroup,Year,Life Expectancy World Bank,Prevelance of Undernourishment,CO2,Health Expenditure %,Education Expenditure %,Unemployment,Corruption,Sanitation,Injuries,Communicable,NonCommunicable
0,Afghanistan,AFG,South Asia,Low income,2019,64.833,26.9,6079.999924,13.242202,3.213780,11.217,2.0,NaN,3481166.42,6034434.86,7601757.82
1,Angola,AGO,Sub-Saharan Africa,Lower middle income,2019,61.147,17.9,25209.999080,2.533360,1.927457,7.421,NaN,NaN,1168866.00,7237433.13,4176568.27
2,Albania,ALB,Europe & Central Asia,Upper middle income,2019,78.573,4.3,4829.999924,NaN,3.916650,11.470,NaN,47.577141,82288.10,51797.42,631629.88
3,Andorra,AND,Europe & Central Asia,High income,2019,NaN,NaN,500.000000,6.711585,3.150610,NaN,NaN,100.000004,2124.01,800.50,19002.03
4,United Arab Emirates,ARE,Middle East & North Africa,High income,2019,77.972,6.0,188860.000600,4.275049,3.867370,2.230,NaN,99.147700,382562.41,120204.51,1637717.40

In [23]:
# Drop 'Country Code' column
exp = exp.drop(columns=['Country Code'])

# Rename 'Country Name' to 'Country'
exp = exp.rename(columns={'Country Name': 'Country'})

exp.head()

,Country,Region,IncomeGroup,Year,Life Expectancy World Bank,Prevelance of Undernourishment,CO2,Health Expenditure %,Education Expenditure %,Unemployment,Corruption,Sanitation,Injuries,Communicable,NonCommunicable
0,Afghanistan,South Asia,Low income,2019,64.833,26.9,6079.999924,13.242202,3.213780,11.217,2.0,NaN,3481166.42,6034434.86,7601757.82
1,Angola,Sub-Saharan Africa,Lower middle income,2019,61.147,17.9,25209.999080,2.533360,1.927457,7.421,NaN,NaN,1168866.00,7237433.13,4176568.27
2,Albania,Europe & Central Asia,Upper middle income,2019,78.573,4.3,4829.999924,NaN,3.916650,11.470,NaN,47.577141,82288.10,51797.42,631629.88
3,Andorra,Europe & Central Asia,High income,2019,NaN,NaN,500.000000,6.711585,3.150610,NaN,NaN,100.000004,2124.01,800.50,19002.03
4,United Arab Emirates,Middle East & North Africa,High income,2019,77.972,6.0,188860.000600,4.275049,3.867370,2.230,NaN,99.147700,382562.41,120204.51,1637717.40

In [24]:
# Check for missing values before processing
print("Missing values before processing:")
print(exp.isnull().sum())

# Replace missing values with the mean of their respective columns
exp = exp.apply(lambda col: col.fillna(col.mean()) if col.dtype in ['float64', 'int64'] else col)

# Check for missing values after processing
print("Missing values after processing:")
print(exp.isnull().sum())

# Display the DataFrame
print(exp)

Missing values before processing:
Country                             0
Region                              0
IncomeGroup                         0
Year                                0
Life Expectancy World Bank         10
Prevelance of Undernourishment     36
CO2                                 8
Health Expenditure %                9
Education Expenditure %            69
Unemployment                       16
Corruption                        111
Sanitation                         69
Injuries                            0
Communicable                        0
NonCommunicable                     0
dtype: int64
Missing values after processing:
Country                           0
Region                            0
IncomeGroup                       0
Year                              0
Life Expectancy World Bank        0
Prevelance of Undernourishment    0
CO2                               0
Health Expenditure %              0
Education Expenditure %           0
Unemployment                      0
Corruption                        0
Sanitation                        0
Injuries                          0
Communicable                      0
NonCommunicable                   0
dtype: int64
                  Country                      Region          IncomeGroup
0             Afghanistan                  South Asia           Low income  \
1                  Angola          Sub-Saharan Africa  Lower middle income
2                 Albania       Europe & Central Asia  Upper middle income
3                 Andorra       Europe & Central Asia          High income
4    United Arab Emirates  Middle East & North Africa          High income
..                    ...                         ...                  ...
169               Vanuatu         East Asia & Pacific  Lower middle income
170                 Samoa         East Asia & Pacific  Lower middle income
171          South Africa          Sub-Saharan Africa  Upper middle income
172                Zambia          Sub-Saharan Africa           Low income
173              Zimbabwe          Sub-Saharan Africa  Lower middle income

     Year  Life Expectancy World Bank  Prevelance of Undernourishment
0    2019                   64.833000                       26.900000  \
1    2019                   61.147000                       17.900000
2    2019                   78.573000                        4.300000
3    2019                   72.589112                        9.317391
4    2019                   77.972000                        6.000000
..    ...                         ...                             ...
169  2019                   70.474000                       12.400000
170  2019                   73.321000                        4.400000
171  2019                   64.131000                        6.300000
172  2019                   63.886000                        9.317391
173  2019                   61.490000                        9.317391

               CO2  Health Expenditure %  Education Expenditure %
0      6079.999924             13.242202                 3.213780  \
1     25209.999080              2.533360                 1.927457
2      4829.999924              6.754494                 3.916650
3       500.000000              6.711585                 3.150610
4    188860.000600              4.275049                 3.867370
..             ...                   ...                      ...
169     209.999993              3.360347                 1.777880
170     300.000012              6.363094                 4.706250
171  439640.014600              9.109355                 5.917710
172    6800.000191              5.312203                 4.465180
173   11760.000230              7.703565                 4.444531

     Unemployment  Corruption  Sanitation    Injuries  Communicable
0       11.217000     2.00000   58.943519  3481166.42    6034434.86  \
1        7.421000     2.81746   58.943519  1168866.00    7237433.13
2       11.470000     2.81746   47.577141    82288.10      51797.42
3        6.980652     2.81746  100.000004     2124.01        800.50
4        2.230000     2.81746   99.147700   382562.41     120204.51
..            ...         ...         ...         ...           ...
169      1.801000     3.00000   58.943519    12484.18      26032.56
170      8.406000     4.00000   47.698788     6652.84       9095.19
171     28.469999     2.81746   58.943519  3174676.10   13198944.71
172     12.520000     2.50000   58.943519   510982.75    4837094.00
173      4.833000     2.50000   25.963544   644798.93    4187087.31

     NonCommunicable
0         7601757.82
1         4176568.27
2          631629.88
3           19002.03
4         1637717.40
..               ...
169         69213.56
170         43798.62
171      10214261.89
172       2649687.82
173       2364031.48

[174 rows x 15 columns]

In [25]:
# Merge the DataFrames on 'Country' column only
final_dataset = pd.merge(merged_df, exp, on='Country', how='inner')

# Display the merged DataFrame
print(final_dataset)

      Country  Total Cases  New Cases  Total Deaths  New Deaths
0      France     40138560      611.5      167642.0   15.857143  \
1      France     40138560      611.5      167642.0   15.857143
2      France     40138560      611.5      167642.0   15.857143
3      France     40138560      611.5      167642.0   15.857143
4      France     40138560      611.5      167642.0   15.857143
...       ...          ...        ...           ...         ...
25451   Malta       121392      611.5         882.0   15.857143
25452   Malta       121392      611.5         882.0   15.857143
25453   Malta       121392      611.5         882.0   15.857143
25454   Malta       121392      611.5         882.0   15.857143
25455   Malta       121392      611.5         882.0   15.857143

       Total Recovered  New Recovered  Active Cases  Serious, Critical
0           39970918.0     780.058824           0.0             1252.8  \
1           39970918.0     780.058824           0.0             1252.8
2           39970918.0     780.058824           0.0             1252.8
3           39970918.0     780.058824           0.0             1252.8
4           39970918.0     780.058824           0.0             1252.8
...                ...            ...           ...                ...
25451         120096.0     780.058824         414.0             1252.8
25452         120096.0     780.058824         414.0             1252.8
25453         120096.0     780.058824         414.0             1252.8
25454         120096.0     780.058824         414.0             1252.8
25455         120096.0     780.058824         414.0             1252.8

       Tot Cases/1M pop  ...  Prevelance of Undernourishment            CO2
0              612013.0  ...                             2.5  300519.989000  \
1              612013.0  ...                             2.5  300519.989000
2              612013.0  ...                             2.5  300519.989000
3              612013.0  ...                             2.5  300519.989000
4              612013.0  ...                             2.5  300519.989000
...                 ...  ...                             ...            ...
25451          273385.0  ...                             2.5    1659.999967
25452          273385.0  ...                             2.5    1659.999967
25453          273385.0  ...                             2.5    1659.999967
25454          273385.0  ...                             2.5    1659.999967
25455          273385.0  ...                             2.5    1659.999967

       Health Expenditure %  Education Expenditure % Unemployment Corruption
0                 11.057472                 4.444531         8.41    2.81746  \
1                 11.057472                 4.444531         8.41    2.81746
2                 11.057472                 4.444531         8.41    2.81746
3                 11.057472                 4.444531         8.41    2.81746
4                 11.057472                 4.444531         8.41    2.81746
...                     ...                      ...          ...        ...
25451              8.214443                 4.444531         3.62    2.81746
25452              8.214443                 4.444531         3.62    2.81746
25453              8.214443                 4.444531         3.62    2.81746
25454              8.214443                 4.444531         3.62    2.81746
25455              8.214443                 4.444531         3.62    2.81746

       Sanitation    Injuries Communicable  NonCommunicable
0       78.589117  1973126.70    758581.72      15334917.58
1       78.589117  1973126.70    758581.72      15334917.58
2       78.589117  1973126.70    758581.72      15334917.58
3       78.589117  1973126.70    758581.72      15334917.58
4       78.589117  1973126.70    758581.72      15334917.58
...           ...         ...          ...              ...
25451   91.867975     9202.64      5685.89        108042.18
25452   91.867975     9202.64      5685.89        108042.18
25453   91.867975     9202.64      5685.89        108042.18
25454   91.867975     9202.64      5685.89        108042.18
25455   91.867975     9202.64      5685.89        108042.18

[25456 rows x 31 columns]

In [26]:
# Define path to save csv file
file_path = '../data/processed/final_dataset.csv'

# Save dataframe to csv file
final_dataset.to_csv(file_path, index=False)

In [27]:
#Load dataset into a dataframe
data = pd.read_csv('../data/processed/final_dataset.csv')

In [28]:
data.shape

(25456, 31)